body {
  font-family: 'Roboto Mono', monospace;
                                                
                                                
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  
}

p {
  font-size: 20px;
  line-height: 1.3;
  text-align: left;
}

.conteudo p {
  font-family: 'Roboto', sans-serif;
}

.subtitulo {
  animation: emerge 2s ease-in-out;
}

.subtitulo {
  animation: emerge 4s ease-in-out infinite alternate;
}

@keyframes emerge {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
.conteudo h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  transition: transform 0.2s ease-in-out;
}

.botao:hover {
  transform: scale(1.1);
}

.menu a {
  transition: transform 0.2s ease-in-out;
  font-size: 20px;
}

.menu a:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}


.menu a {
  background: #ffffff;
  padding: 20px 30px;
  border-radius: 4px;
  color: #000000;
  text-transform: uppercase;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
 
}

.introducao {
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: red;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}


.botao{
  background: red;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  
}


.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: #bdb8b8;
  text-align: right;
  padding: 40px;
  align-self: center;

}

.vantagens {
  background: #ffffff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px 20px;
  margin-bottom: 20px;
}

.vantagens-item p {
  grid-column: 2;
}


.menu-logo {
  max-width: 300px;
}

.rodape {
  background: #ffffff;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
